.nav-links{ 

   list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;

    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
}

.color {
    color: rgba(37, 36, 50, 1);
    font-weight: bold;
}

.sc-color {
   color: rgba(137, 135, 161, 1);
}